[Desktop Entry]
Type=Application
Exec=/home/fortinet/bin/res_mbp16
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Name=Fix Display Resolution
