[Desktop Entry]
Type=Application
Exec=/usr/bin/google-chrome
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Google Chrome
Comment=Start Google Chrome on login
